* {
	margin: 0;
	padding: 0;
}
body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	transition: 0.5s;
	background: #0F2027;
	color: white;
}
.bulb {
	font-size: 3rem;
	cursor: pointer;
	user-select: none;
}
.off, .on {
	display: none;
}
.active {
	display: block;
}
.header {
	text-align: center;
	height: 10vh;
	user-select: none;
	font-size: 2rem;
}
img {
	height: 50vh;
	transition: 0.3s;
}
